.heads {
    color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 10px;
}

.statistic {
    display: flex;
    justify-content: center;
    margin: 10px 5px;
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
}

.title {
    font-size: 25px;
    color:slategrey;
    text-transform: uppercase;
}

/* .first {
    background-color: rgb(192, 63, 192);
    composes: test;
}
.second {
    background-color: rgb(183, 252, 79);
    composes: test;
}
.third {
    background-color: rgb(224, 147, 47);
    composes: test;
}
.quarters {
    background-color: rgb(43, 189, 104);
    composes: test;
} */
